@model Property

<div class="card">
    <img src="/images/@Model.ImageUrl" class="card-img-top" alt="@Model.Location" />
    <div class="card-body">
        <h5 class="card-title">@Model.Location</h5>
        <p class="card-text">Size: @Model.Size</p>
        <p class="card-text">Price: @Model.Price ₤</p>
        <p class="card-text">Description: @Model.Description</p>
        <p class="card-text">
            Owner: <a href="@Url.Action("Profile", "Account", new { id = Model.OwnerId })">@Model.Owner.UserName</a>
        </p>

        <p class="card-text">Added on: @Model.DateAdded.ToShortDateString()</p>

        <p class="card-text">
            @if (Model.IsAvailable)
            {
                <span class="badge bg-success">Available</span>
            }
            else
            {
                <span class="badge bg-danger">Unavailable</span>
            }
        </p>

        @if (Model.IsAvailable)
        {
            <form action="@Url.Action("CreateBooking", "Lease", new { id = Model.PropertyID })" method="post">
                <button type="submit" class="btn btn-primary">Book</button>
            </form>
        }
        else
        {
            <p class="text-danger">This property is currently unavailable for booking.</p>
        }
    </div>
</div>
